<!doctype html>
<html>
<head>
  <title>Game</title>
  <style>
    form {
      color: purple;
    }
  </style>
</head>
<body>
    <form action="/madlib">
        <label for="Noun">Noun</label>
        <input type="text" name="noun" id="Noun">
        <label for="Color">Color</label>
        <input type="text" name="color" id="Color">
        <label for="Person">Person</label>
        <input type="text" name="person" id="Person">
        <label for="Adjective">Adjective</label>
        <input type="text" name="adjective" id="Adjective">
        <label for="Feeling">Feeling</label>
        <input type="text" name="feeling" id="Feeling">
        <label for="Style">Style</label>
        <input type="text" name="style" id="Style">


        <input type="submit" value="Submit">
    
    </form>
        
</body>
</html>